.scenario {
  border: 1px solid #dcdcdc;
  border-radius: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section {
  border-top: 1px solid #dcdcdc;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.resetSettings {
  border-top: 1px solid #dcdcdc;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding-top: 15px;
}
.textwrap {
  word-wrap: break-word;
  text-align: center;
  padding: 0px 15px 0px 15px;
}
