.header {
  border-bottom: solid 1px #dcdcdc;
  margin-bottom: 10px;
  padding-bottom: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.select {
  border-bottom: solid 1px #dcdcdc;
  margin-bottom: 20px;
  padding-bottom: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.scenario {
  border: 1px solid #dcdcdc;
  border-radius: 40px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.upload {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.chains {
  font-family: "Roboto Mono", monospace;
}

.sequence {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  max-width: 50em;
  word-wrap: break-word;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dcdcdc;
}

.nucleobases {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  height: 2.7em;
  width: 2.5em;
  cursor: pointer;
  background: inherit;
  border: 0;
}

.chainsarray {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.index {
  color: #ed6a5a;
  font-size: 12px;
  padding-top: 0.1em;
  margin-left: 1em;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none;
}

.residue {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-size: 16px;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  width: 100%;
  text-align: center;
}

.nonactiveC {
}

.nonactiveC:hover {
  background: #f8f0ef;
}

.activeC {
  background: #ed6a5a;
  color: #f8f8f8;
}

.menuchains {
  padding-bottom: 10px;
  display: flex;
  column-gap: 10px;
}

.disable {
  background: #eaeaea !important;
  color: #8a8a8a !important;
}
.split_layout_divider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.split_layout_label {
  padding: 1em;
  font-size: 16px;
}
.split_layout_rule {
  flex: 1;
  border-style: solid;
  border-color: #dcdcdc;
  border-width: 0 1px 0 0;
}
.header_collapse {
  word-wrap: break-word !important;
}
