@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

:: -moz-selection {
  /* Code for Firefox */
  color: white;
  background: #ed6a5a;
}

::selection {
  color: white;
  background: #ed6a5a;
}

body {
  color: #272626;
  display: flex;
  justify-content: center;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

main {
  min-height: 100vh;
  width: 60vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

h2 {
  color: #ed6a5a;
  font-weight: bold;
  font-size: 26px;
}
