.header {
  height: 100px;
  display: flex;
  flex-direction: row;
  width: 100vw;
  background: #f8f8f8;
  justify-content: space-around;
  align-items: center;
}

.scenario {
  border: 1px solid #dcdcdc;
  border-radius: 40px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.foot {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  width: 100%;
  margin-top: auto;
  height: 100px;
}

.upload {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.footer {
  bottom: 10px;
  text-align: center;
  width: 100%;
}

.active {
  text-decoration-color: #ed6a5a;
  text-decoration-line: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 3px;
}

.chains {
  font-family: "Roboto Mono", monospace;
}

.sequence {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  max-width: 30em;
  word-wrap: break-word;
  font-family: "Roboto Mono", monospace;
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid #dcdcdc;
}

.nucleobases {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  height: 3em;
  width: 2em;
  cursor: pointer;
  background: inherit;
  border: none;
}

.chainsarray {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.index {
  color: #ed6a5a;
  font-size: 12px;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none;
}

.nonactiveC {
}

.nonactiveC:hover {
  background: #f8f0ef;
}

.activeC {
  background: #ed6a5a;
  color: #f8f8f8;
}

.menuchains {
  padding-bottom: 10px;
  display: flex;
  column-gap: 10px;
}
