.header {
  height: 100px;
  display: flex;
  flex-direction: row;
  width: 100vw;
  background: #f8f8f8;
  justify-content: space-around;
  align-items: center;
}

.foot {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  width: 100%;
  margin-top: auto;
  height: 100px;
}

.footer {
  bottom: 10px;
  text-align: center;
  width: 100%;
}

.active {
  text-decoration-color: #ed6a5a;
  text-decoration-line: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 3px;
}
